<div class="row">
  <div class="col-md-4">
    <p>Basic</p>
    <div id="BarBasic">
    </div>
  </div>
  <div class="col-md-4">
    <p>Grouped</p>
    <div id="grouped">
    </div>
  </div>
  <div class="col-md-4">
    <p>Stacked Bar</p>
    <div id="stackedBar"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>Stacked Bars 100</p>
    <div id="stackedBars100">
    </div>
  </div>
  <div class="col-md-4">
    <p>Grouped Stacked Bars</p>
    <div id="groupedStacked">
    </div>
  </div>
  <div class="col-md-4">
    <p>Bar with Negative Values</p>
    <div id="negative"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>Bar with Markers</p>
    <div id="markers">
    </div>
  </div>
  <div class="col-md-4">
    <p>Reversed Bar Chart</p>
    <div id="Reversed">
    </div>
  </div>
  <div class="col-md-4">
    Custom DataLabels Bar
    <div id="CustomDataLabels"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>Patterned</p>
    <div id="Patterned">
    </div>
  </div>
  <div class="col-md-4">
    <p>Bar with Images</p>
    <div id="Images">
    </div>
  </div>
  <div class="col-md-4">
    <div id="#"></div>
  </div>
</div>
