<div class="row">
  <div class="col-md-4">
    <p>Basic</p>
    <div id="timelineBasic">
    </div>
  </div>
  <div class="col-md-4">
    <p>Advanced</p>
    <div id="Advanced">
    </div>
  </div>
  <div class="col-md-4">
    <p>Multiple series – Group rows</p>
    <div id="Multipleseries"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>Dumbbell Chart (Horizontal)</p>
    <div id="Horizontal">
    </div>
  </div>
  <div class="col-md-4">
    <div id="#">
    </div>
  </div>
  <div class="col-md-4">
    <div id="#"></div>
  </div>
</div>

