<div class="row">
  <div class="col-md-4">
    <p>Line Column</p>
    <div id="LineColumn">
    </div>
  </div>
  <div class="col-md-4">
    <p>Multiple Y-Axis</p>
    <div id="MultipleYAxis">
    </div>
  </div>
  <div class="col-md-4">
    <p>Line & Area</p>
    <div id="LineAndArea"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>Line Column Area</p>
    <div id="LineColumnArea">
    </div>
  </div>
  <div class="col-md-4">
    <p>Line Scatter</p>
    <div id="LineScatter">
    </div>
  </div>
  <div class="col-md-4">
    <div id="#"></div>
  </div>
</div>
