<div class="row">
  <div class="col-md-4">
    <p>Basic</p>
    <div id="basic">
    </div>
  </div>
  <div class="col-md-4">
    <p>Column with Data Labels</p>
    <div id="Data">
    </div>
  </div>
  <div class="col-md-4">
    <p>Stacked Columns</p>
    <div id="Stacked">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>Stacked Columns 100</p>
    <div id="Stacked100">
    </div>
  </div>
  <div class="col-md-4">
    <p>Grouped Stacked Columns</p>
    <div id="GroupedStacked">
    </div>
  </div>
  <div class="col-md-4">
    <p>Dumbbell Chart</p>
    <div id="Dumbbel">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>Column with Markers</p>
    <div id="Markers">
    </div>
  </div>
  <div class="col-md-4">
    <p>Column with Rotated Labels</p>
    <div id="Rotated">
    </div>
  </div>
  <div class="col-md-4">
    <p>Column with Negative Values</p>
    <div id="NegativeValues">
    </div>
  </div>
</div>
