<app-menu-charts></app-menu-charts>
<!-- <app-charts></app-charts> -->
<!-- <h3>Line Charts</h3>
<app-line-charts></app-line-charts>
<h3>Area Charts</h3>
<app-area-charts></app-area-charts>
<h3>Column Charts</h3>
<app-column-charts></app-column-charts>
<h3>Bar Charts</h3>
<app-bar-charts></app-bar-charts>
<h3>Mixed Charts</h3>
<app-mixed-charts></app-mixed-charts>
<h3>Range Area Charts</h3>
<app-range-area-charts></app-range-area-charts>
<h3>Timeline Charts</h3>
<app-timeline-charts></app-timeline-charts>
<h3>Candlestick Charts</h3>
<app-candlestick-charts></app-candlestick-charts>
<h3>Box & Whisker Charts</h3>
<app-box-whisker-charts></app-box-whisker-charts>
<h3>Pie Charts</h3>
<app-pie-charts></app-pie-charts>
<h3>Radar Charts</h3>
<app-radar-charts></app-radar-charts>
<h3>Polar Area Charts</h3>
<app-polar-area-charts></app-polar-area-charts> -->

<router-outlet></router-outlet>

