<div class="row">
  <div class="col-md-4">
    <p>Line Charts > Basic</p>
    <div id="chart">
    </div>
  </div>
  <div class="col-md-4">
    <p>Dashed</p>
    <div id="Dashed">
    </div>
  </div>
  <div class="col-md-4">
    <p>Gradient</p>
    <div id="Gradient"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>Missing / null values</p>
    <div id="Missing">
    </div>
  </div>
  <div class="col-md-4">
    <p>Stepline</p>
    <div id="Stepline">
    </div>
  </div>
  <div class="col-md-4">
    <p>Line with Data Labels</p>
    <div id="DataLabels"></div>
  </div>
</div>

