<div class="row">
  <div class="col-md-4">
    <p>Basic</p>
    <div id="RBCbasic">
    </div>
  </div>
  <div class="col-md-4">
    <p>Multiple</p>
    <div id="Multiple">
    </div>
  </div>
  <div class="col-md-4">
    <p>Custom Angle Circle</p>
    <div id="CustomAngleCircle"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>Gradient</p>
    <div id="Gradient">
    </div>
  </div>
  <div class="col-md-4">
    <p>Radialbars with Image</p>
    <div id="Radialbars">
    </div>
  </div>
  <div class="col-md-4">
    <p>Stroked Gauge</p>
    <div id="StrokedGauge"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>Semi Circle Gauge</p>
    <div id="SemiCircleGauge">
    </div>
  </div>
  <div class="col-md-4">
    <p></p>
    <div id="#">
    </div>
  </div>
  <div class="col-md-4">
    <p></p>
    <div id="#"></div>
  </div>
</div>

