<div class="row">
  <div class="col-md-4">
    <p>Spline</p>
    <div id="Spline">
    </div>
  </div>
  <div class="col-md-4">
    <p>Datetime X-Axis</p>
    <div id="Datetime">
    </div>
  </div>
  <div class="col-md-4">
    <p>Negative</p>
    <div id="Negative">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>Missing / Null values</p>
    <div id="MissingArea">
    </div>
  </div>
  <div class="col-md-4">
    <div id="#">
    </div>
  </div>
  <div class="col-md-4">
    <div id="#">
    </div>
  </div>
</div>

