<div class="mt-5">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><button type="button"
      class="btn btn-dark">Home</button></a>
  <a routerLink="/line charts" routerLinkActive="active"><button type="button" class="btn btn-primary">Line
      Chart</button></a>
  <a routerLink="/area charts" routerLinkActive="active"><button type="button" class="btn btn-secondary">Area
      Charts</button></a>
  <a routerLink="/column charts" routerLinkActive="active"><button type="button" class="btn btn-success">Column
      Charts</button></a>
  <a routerLink="/bar charts" routerLinkActive="active"><button type="button" class="btn btn-danger">Bar
      Charts</button></a>
  <a routerLink="/mixed charts" routerLinkActive="active"><button type="button" class="btn btn-warning">Mixed
      Charts</button></a>
  <a routerLink="/range area charts" routerLinkActive="active"><button type="button" class="btn btn-info">Range Area
      Charts</button></a>
  <a routerLink="/timeline charts" routerLinkActive="active"><button type="button" class="btn btn-primary">Timeline
      Charts</button></a>
  <a routerLink="/candlestick charts" routerLinkActive="active"><button type="button"
      class="btn btn-secondary">Candlestick Charts</button></a>
  <a routerLink="/box & whisker charts" routerLinkActive="active"><button type="button" class="btn btn-success">Box &
      Whisker Charts</button></a>
  <a routerLink="/pie charts" routerLinkActive="active"><button type="button" class="btn btn-danger">Pie
      Charts</button></a>
  <a routerLink="/radar charts" routerLinkActive="active"><button type="button" class="btn btn-warning">Radar
      Charts</button></a>
  <a routerLink="/polar area charts" routerLinkActive="active"><button type="button" class="btn btn-info">Polar Area
      Charts</button></a>
  <a routerLink="/radial bar charts" routerLinkActive="active"><button type="button" class="btn btn-primary">Radial Bar
      Charts</button></a>
</div>
