<div class="row">
  <div class="col-md-4">
    <p>Simple Pie</p>
    <div id="SimplePie">
    </div>
  </div>
  <div class="col-md-4">
    <p>Donut Update</p>
    <div id="DonutUpdate">
    </div>
  </div>
  <div class="col-md-4">
    <p>Monochrome Pie</p>
    <div id="MonochromePie"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>Gradient Donut</p>
    <div id="GradientDonut">
    </div>
  </div>
  <div class="col-md-4">
    <p>Semi Donut</p>
    <div id="SemiDonut">
    </div>
  </div>
  <div class="col-md-4">
    <p>Donut with Pattern</p>
    <div id="DWP"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div id="">
    </div>
  </div>
  <div class="col-md-4">
    <div id="#">
    </div>
  </div>
  <div class="col-md-4">
    <div id="#"></div>
  </div>
</div>

